<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Instalación</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>
	<body>
		<div class="container">
			<header>
            <a href=""><img src="../static/img/logotipo1.png" class="logo"  /></a>
                <ul>
                	<li><a href="{{url_for('home')}}">Inicio</a></li>
					<li><a href="" class="active">Instalación</a></li>
                </ul>
            </header>
			<div class="main">
				<div class="inner">
					<div class="col-1">
						<a href="https://www.python.org/"><img src="../static/img/logopy.png" width="150px"/></a>
					</div>
					<div class="col-1">
						<h1>¡Instalando!</h1>
						<p>Andrei's Web Desing utiliza programas como <a href="https://www.python.org/">Python</a>, 
						conectado con <a href="http://flask.pocoo.org/docs/">Flask</a>, por lo que es necesario instalarlos</p>
						<p>Además,  es necesario el <a href="http://www.smlnj.org/">SML/NJ</a>, ya que los archivos abiertos serán en formato .sml</p>
						<h2><a href="python" >¿Cómo instalar Python?</h2>
						<h2><a href="sml">¿Cómo instalar SML/NJ?</h2></a>
					</div>
					<div class="col-4">
						<a href="http://www.smlnj.org/"><img src="../static/img/sml.png" width="200px" /></a>
					</div>
				</div>
			</div>
			
            <div class="clr"></div>
			<footer> 
                <div class="mainFooter">
                <div class="privHold">
                 </div>
                 </div>
			</footer>
            </div>
	</div>
		
	</body>

</html>