
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<style>
			table,th,td
				{
					border:1px solid black;
				}
		</style>
	</head>
	<body>
		<div class="container">
			<header>
            <a href=".."><img src="../static/img/logotipo1.png" class="logo"  /></a>
                <ul>
                	<li><a href=".." >Tabla</a></li>
					<li><a href="{{url_for('instalacion')}}" >Instalación</a></li>
                </ul>
            </header>
			<div class="main">
				<div class="inner">
					<div class="col-1">
						<a href="https://www.python.org/"><img src="../static/img/logopy.png" width="150px"/></a>
					</div>
					<div class="col-1">
						<table style="width:60%">
							<tr>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
							<tr>
								<td>Int</td>
								<td>12</td>
							</tr>
						</table>
						<a href=".."><h2>Volver a Inicio</h2></a>
					</div>
					<div class="col-4">
						<a href="http://www.smlnj.org/"><img src="../static/img/sml.png" width="200px" float="left" /></a>
					</div>
				</div>
			</div>
			
            <div class="clr"></div>
			<footer> 
                <div class="mainFooter">
                <div class="privHold">
                 </div>
                 </div>
			</footer>
            </div>
	</div>
		
	</body>

</html>
